<nav class="navbar navbar-expand-lg navbar-light  bg-primary  position-fixed  start-0 end-0 top-0 ">
    <div class="container-fluid">
      <span class="navbar-brand" href="#">GEE.App</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-white">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="">Home</a>
          </li>
          
         {% if request.user.is_superuser %}
         <li class="nav-item">
          <a class="nav-link text-white" href="#">Edition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Mise à jour</a>
        </li>
        {% elif request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Mise à jour</a>
        </li>
         {% endif %}
         
         <li class="nav-item">
          <a class="nav-link text-white" href="#">A propos</a>
        </li>
          <li class="nav-item">
            <a class="nav-link btn text-white " href="{% url 'accounts:Logout' %}"  tabindex="-1" aria-disabled="true">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>