{%extends 'layout/base.html'%}
{% load  static  %}
{% block nav%}
{% include 'layout/partials/nav.html'%}
{% endblock %}
{% block content %}
<div class=" home bg-primary">
    <div class="mt-5 p-4 text-white text-center">
       <h1 class="display-4 " >
        CREATION PASSATION EPREUVE 
       </h1>
       <P>Vous pouvez créer une épreuve a passer</p>
    </div>
</div>

<form method="POST" enctype="multipart/form-data" class="bg-ligth shadow-lg forms-disc space   p-4 ">  
    {% csrf_token %}
    <div class=" text-center">
        {% if messages  %}
        <div class="alert alert-success text-center">
          {{ messages }}
        </div>
        {% endif%}
    </div>
   <div class="form-group text-dark">
    {{ form.as_p }}
   </div>
   <button type="submit " class="btn btn-primary text-white">Créer</button>
</form>
{% endblock %}

{%block style%}
<style type="text/css">
.space{
    margin: 3% auto;
}
</style>
{%endblock%}
{% block footer %}
<script type="text/javascript">
    select_input1 = document.querySelector("#id_eleve_pas")
    select_input2 = document.querySelector("#id_epreuve_pas")
    select_input3 = document.querySelector("#id_cours_pas")
    select_input4 = document.querySelector("#id_periode")
    select_input5 = document.querySelector("#id_semestre")
    input_date = document.querySelector("#id_date_pass")
    
    select_input1.classList.add("form-select")
    select_input2.classList.add("form-select")
    select_input3.classList.add("form-select")
    select_input4.classList.add("form-select")
    select_input5.classList.add("form-select")
    
</script>
{% include 'layout/partials/footer.html'%}
{% endblock %}