{%extends 'layout/base.html'%}
{% load  static  %}
{% block nav%}
{% include 'layout/partials/nav.html'%}
{% endblock %}
{% block content %}
<div class=" home bg-primary">
    <div class="mt-5 p-4 text-white text-center">
       <h1 class="display-4 " >
        CREATION OPTION
       </h1>
       <P>Vous pouvez créer une OPTION</p>
    </div>
</div>

<form method="POST" enctype="multipart/form-data" class="bg-ligth shadow-lg forms-disc space   p-4 ">  
    {% csrf_token %}
    <div class=" text-center">
        {% if messages  %}
        <div class="alert alert-success text-center">
          {{ messages }}
        </div>
        {% endif%}
    </div>
   <div class="form-group ">
    {{ form.as_p }}
   </div>
   <button type="submit " class="btn btn-primary text-white">Créer</button>
</form>
{% endblock %}

{%block style%}
<style type="text/css">
.space{
    margin: 3% auto;
}
</style>
{%endblock%}
{% block footer %}
{% include 'layout/partials/footer.html'%}
{% endblock %}